<div class="container"> 
  <h1 class="text-center my-5">ABOUT</h1>
  <p class="text-center my-3">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    また、全国に発送かのうですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
    <strong style="font-weight: bold;">ぜひ、ご注文ください。</strong>
  </p>
  <div class="d-flex align-items-center justify-content-center"><%= image_tag "cake.jpg", size:'700x360' %></div> 
</div>