<footer class="py-4" style="background-color: #EE3465; color: #fff;">
  <div class="container text-center">
    <%= image_tag "logo.png", size: '200x200' %>
    <p class="mb-0">Copyright 2025 Smash Ltd.</p>
  </div>
</footer>